<header>
    <nav>
        <ul>
            <li><a href="{{ '/' | relative_url }}">Home</a></li>
            <li><a href="{{ '/what-it-is' | relative_url }}">What It Is</a></li>
            <li><a href="{{ '/who-we-are' | relative_url }}">Who We Are</a></li>
            <li><a href="{{ '/our-vision' | relative_url }}">Our Vision</a></li>
            <li><a href="{{ '/crowdfunding' | relative_url }}">Crowdfunding</a></li>
            <li><a href="{{ '/contact' | relative_url }}">Contact</a></li>
        </ul>
    </nav>
</header>