<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/style.css' }}">
</head>
<body>
    {% include header.html %}
    
    <div id="search-container">
        <input type="text" id="search-input" placeholder="Search blog posts...">
        <ul id="results-container"></ul>
      </div>

    <script src="{{ site.baseurl }}/assets/js/search.js"></script>

    <main>
        {{ content }}
    </main>
    
    {% include footer.html %}

  
</body>
</html>